.locations-wrapper-row {
  z-index: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  color: #ffff00;
  font-family: Roboto, sans-serif;
  background-color: #ffff0000;
}
.locations-sidebar-left-column {
  flex: 1;
  background: #000;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  background: #000;
  height: 137vh;
}
.use-location-wrapper1 {
  width: 100%;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #00000000 1px solid;
  border-radius: 52px;
  transition: 0.5s;
}
.use-location-wrapper2 {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  background: #FFFF00;
  flex-direction: row;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.phone-icons-current-location {
  flex: 1;
  border: 2px solid #ffff00;
  padding: 5px;
  border-radius: 100%;
  margin-left: 0px;
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.use-location {
  flex: 6;
  justify-self: center;
  align-self: center;
  background: transparent;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-family: 'dejavu sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  width: 100%;
  cursor: pointer;
}
.use-location-wrapper1:hover,
.use-location-wrapper1:active {
  border: white 1px solid;
  border-radius: 52px;
}

.location-dot-current-location i {
  flex: 1;
  padding: 5px;
  margin-left: 0px;
  margin-right: 10px;
  font-size: 20px;
  color: black;
}
.divider {
  z-index: 2;
  width: 100%;
  height: 2px;
  background: gray  ;
  margin: 20px -5px;
}
.location-search-btn-wrapper {
  position: relative;
  z-index: 10;
  background-color: transparent;
  padding: 3px;
  margin: 3px 0;
  border: #00000000 1px solid;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.location-search-btn-wrapper.active,
.location-search-btn-wrapper:hover {
  border: #419ade 1px solid;
  border-radius: 52px;
}
.location-search-btn {
  border-radius: 50px;
  text-align: center;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn h3 {
  font-size: 18px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: lighter;
  letter-spacing: -1px;
  padding: 10px 10px;
  text-transform: uppercase;
}
.location-search-btn p {
  font-size: 14 px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: 100;
  padding: 0px px;
  text-transform: uppercase;
}
.upper-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: black;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 10px;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #ffec23;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.upper-col h3 {
  flex: 1;
  margin: 0;
}

.store-name {
  align-items: center;
    flex-grow: 1;
}
.lower-col {
  background: white;
  padding: 0px 10px;
  color: black;
  border-top: 2px solid #ffec23;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: underline;
}
.phone-icons {
  margin-left: auto;
}

.phone-icons i {
  flex: 1;
  border: 2px solid #ffff00;
  padding: 5px;
  border-radius: 100%;
  margin-left: 0px;
  margin-right: 10px;
  font-size: 20px;
  color: #fff000;
}
.map-display {
  flex: 6;
  background: #ffff00;
  position: relative;
}
.stats-box {
  background: #FFFF00;
  color: black;
  padding: 30px;
  align-items: center;
  text-align: center;
}
  .stats-box h2 {
    margin-top: 0;
    font-size: 50px;
  }
.stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 0;
}
.stats div {
  text-align: center;
  margin: 10px;
}
.stats h3 {
  font-size: 50px;
  margin: 0;
}
.stats p {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 20px;

}
.contact {
  font-size: 20px;
  margin: 10px 0;
}
.contact span {
  color: #28A2FF;
}
.download-btn {
  background: #46A8FF;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.download-btn:hover {
  background: #1b6fd6;
}
/* Laptop screens */
@media (max-width: 1200px) and (min-width: 992px) {.locations-wrapper-row {
  z-index: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  color: #ffff00;
  font-family: Roboto, sans-serif;
  background-color: #ffff0000;
}
.locations-sidebar-left-column {
  flex: 1.3;
  background: #000;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  background: #000;
  height: 137vh;
}
.use-location-wrapper1 {
  width: 100%;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #00000000 1px solid;
  border-radius: 52px;
  transition: 0.5s;
}
.use-location-wrapper2 {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  background: #FFFF00;
  flex-direction: row;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.phone-icons-current-location {
  flex: 1;
  border: 2px solid #ffff00;
  padding: 5px;
  border-radius: 100%;
  margin-left: 0px;
  margin-right: 5px;
  color: black;
}
.use-location {
  flex: 6;
  justify-self: center;
  align-self: center;
  background: transparent;
  border: none;
  padding: 8px 10px;
  border-radius: 50px;
  font-family: 'dejavu sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  width: 100%;
  cursor: pointer;
}
.use-location-wrapper1:hover,
.use-location-wrapper1:active {
  border: white 1px solid;
  border-radius: 52px;
}

.location-dot-current-location i {
  flex: 1;
  padding: 5px;
  margin-left: 0px;
  margin-right: 5px;
  font-size: 18px;
  color: black;
}
.divider {
  z-index: 2;
  width: 100%;
  height: 2px;
  background: gray  ;
  margin: 20px -5px;
}
.location-search-btn-wrapper {
  position: relative;
  background-color: transparent;
  padding: 3px;
  margin: 0px 0;
  border: #00000000 1px solid;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.location-search-btn-wrapper.active,
.location-search-btn-wrapper:hover {
  border: #419ade 1px solid;
  border-radius: 52px;
}
.location-search-btn {
  border-radius: 50px;
  text-align: center;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn h3 {
  font-size: 12px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: lighter;
  letter-spacing: -1px;
  padding: 10px 10px;
  text-transform: uppercase;
}
.location-search-btn p {
  font-size: 10px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: 100;
  padding: 0px 10px;
  text-transform: uppercase;
}
.upper-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: black;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 10px;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #ffec23;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.upper-col h3 {
  flex: 1;
  margin: 0;
}

.store-name {
  align-items: center;
    flex-grow: 1;
}
.lower-col {
  background: white;
  padding: 0px 10px;
  color: black;
  border-top: 2px solid #ffec23;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: underline;
}
.phone-icons {
  margin-left: auto;
}

.phone-icons i {
  flex: 1;
  border: 2px solid #ffff00;
  padding: 5px;
  border-radius: 100%;
  margin-left: 0px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff000;
}





.map-display {
  flex: 6;
  background: #ffff00;
  position: relative;
}
.stats-box {
  background: #FFFF00;
  color: black;
  padding: 30px;
  align-items: center;
  text-align: center;
}
  .stats-box h2 {
    margin-top: 0;
    font-size: 50px;
  }
.stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 0;
}
.stats div {
  text-align: center;
  margin: 10px;
}
.stats h3 {
  font-size: 50px;
  margin: 0;
}
.stats p {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0px 20px;

}
.contact {
  font-size: 20px;
  margin: 10px 0;
}
.contact span {
  color: #28A2FF;
}
.download-btn {
  background: #46A8FF;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.download-btn:hover {
  background: #1b6fd6;
}
}