/* Locations Page Styles */
.locations-wrapper-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  color: #ffff00;
  font-family: Roboto, sans-serif;
  background-color: #ffff0000;
}
.locations-sidebar-left-column {
  flex: 1;
  background: #000;
  padding: 30px 20px;
  overflow: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  background: #000;
  height: 130vh;
}
.use-location {
  background: #FFFF00;
  border: none;
  padding: 15px 10px;
  border-radius: 50px;
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}
.location-search-btn-wraper {
  background-color: transparent;
  padding: 5px;
  margin: 10px 0;
  border: #00000000;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn-wraper.active,
.location-search-btn-wraper:hover {
  border: #ffec23 1px solid;
  scale: 1.05;
  border-radius: 52px;
}
.location-search-btn {
  border-radius: 50px;
  text-align: center;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn h3 {
  font-size: 20px;
  padding: 5px 5px;
  text-transform: uppercase;
}
.location-search-btn p {
  font-size: 14 px;
  padding: 5px 5px;
  text-transform: uppercase;
}
.upper-col {
  background: black;
  padding: 0px 20px;
  color: white;
  font-weight: normal;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #ffec23;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.lower-col {
  background: white;
  padding: 0px 20px;
  color: black;
  border-top: 2px solid #ffec23;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: underline;
}
.map-display {
  flex: 6;
  background: #ffff00;
  position: relative;
}
.stats-box {
  background: #FFFF00;
  color: black;
  padding: 30px;
  text-align: center;
}
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0;
}
.stats div {
  text-align: center;
  margin: 10px;
}
.stats h3 {
  font-size: 40px;
  margin: 0;
}
.stats p {
  font-size: 14px;
  text-transform: uppercase;
}
.contact {
  font-size: 18px;
  margin: 10px 0;
}
.contact span {
  color: #28A2FF;
}
.download-btn {
  background: #46A8FF;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.download-btn:hover {
  background: #1b6fd6;
}
@media (max-width: 900px) {
  .locations-wrapper {
    flex-direction: column;
  }
  .locations-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #222;
  }
}